<%= form_for @indent, html: { class: 'form-horizontal' } do |f| %>
  <div class="form-group">
    <%= f.label :warehouse, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :warehouse, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :no, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :no, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :grp, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :grp, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :item, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :item, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :make, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :make, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :uom, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :uom, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :qt_p, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :qt_p, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :dt, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :dt, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :rq, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :rq, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :cc, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :cc, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :remarks, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :remarks, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :details, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :details, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :pr_po, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :pr_po, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :by, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :by, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :status, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :status, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :date, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :date, class: 'text_field form-control' %>
    </div>
  </div>
  <div class="form-group">
    <%= f.label :person, class: 'control-label col-md-2' %>
    <div class="col-md-10">
      <%= f.text_field :person, class: 'text_field form-control' %>
    </div>
  </div>

  <div class="form-group">
    <div class='col-md-offset-2 col-md-10'>
      <%= f.submit nil, class: 'btn btn-primary' %>
      <%= link_to t('.cancel', default: t("helpers.links.cancel")),
                  indents_path, class: 'btn btn-default' %>
    </div>
  </div>
<% end %>
