<p id="notice"><%= notice %></p>

<p>
  <strong>Warehouse:</strong>
  <%= @indent.warehouse %>
</p>

<p>
  <strong>No:</strong>
  <%= @indent.no %>
</p>

<p>
  <strong>Grp:</strong>
  <%= @indent.grp %>
</p>

<p>
  <strong>Item:</strong>
  <%= @indent.item %>
</p>

<p>
  <strong>Make:</strong>
  <%= @indent.make %>
</p>

<p>
  <strong>Uom:</strong>
  <%= @indent.uom %>
</p>

<p>
  <strong>Qt p:</strong>
  <%= @indent.qt_p %>
</p>

<p>
  <strong>Dt:</strong>
  <%= @indent.dt %>
</p>

<p>
  <strong>Rq:</strong>
  <%= @indent.rq %>
</p>

<p>
  <strong>Cc:</strong>
  <%= @indent.cc %>
</p>

<p>
  <strong>Remarks:</strong>
  <%= @indent.remarks %>
</p>

<p>
  <strong>Details:</strong>
  <%= @indent.details %>
</p>

<p>
  <strong>Pr po:</strong>
  <%= @indent.pr_po %>
</p>

<p>
  <strong>By:</strong>
  <%= @indent.by %>
</p>

<p>
  <strong>Status:</strong>
  <%= @indent.status %>
</p>

<p>
  <strong>Date:</strong>
  <%= @indent.date %>
</p>

<p>
  <strong>Person:</strong>
  <%= @indent.person %>
</p>

<%= link_to 'Edit', edit_indent_path(@indent) %> |
<%= link_to 'Back', indents_path %>
